body {
  margin: 0;
  background-color: rgba(var(--b3f,250,250,250),1);
}
header {
  box-shadow: none !important;
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}
.app_name {
  font-family: 'Mansalva', cursive !important;
  font-weight: bold !important;
}
.auth_userName {
  font-weight: bold !important;
}
.avatar__profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.article_post {
  background: #fff;
}

@media screen and (max-width: 700px) {
  .MuiContainer-root {
    padding: 0 !important;
  }
}