body {
  margin: 0;
}
.avatar__profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .MuiContainer-root {
    padding: 0 !important;
  }
}